{% extends "base_email.html" %}

{% set title = title %}
{% set application_name = application_name %}
{% set application_link = application_link %}

{% block content %}
    <p>{% trans %}results_sentence{% endtrans %}:</p>

    <div align="center">
    {% for show in results %}
        {% if loop.index > 0 %}
            <p class="smallP"></p>
        {% endif %}

        <p class="circled result">
            <b>{{ show.show_name }}</b>

            {% if show.type.value == 'TV' %}
                {% if show.episode is not none %}
                    {% trans %}first_letter_of_season{% endtrans %}{{ show.season }} {% trans %}first_letter_of_episode{% endtrans %}{{ show.episode }}
                {% endif %}

                {% trans %}at_date{% endtrans %} {{ show.date_time }}, {% trans %}in_channel{% endtrans %} {{ show.service_name}}.
            {% else %}
                {% if show.first_season_available is not none %}
                    {% if show.first_season_available == show.last_season_available %}
                        {% trans %}season{% endtrans %} {{ show.first_season_available }} {% trans %}available{% endtrans %}
                    {% else %}
                        {% trans %}seasons{% endtrans %} {{ show.first_season_available }} {% trans %}to_seasons{% endtrans %} {{ show.last_season_available }} {% trans %}available_plural{% endtrans %}
                    {% endif %}
                {% endif %}

                {% trans %}in_channel{% endtrans %} {{ show.service_name}}.
            {% endif %}
        </p>
    {% endfor %}
    </div>

    <p></p>
{% endblock %}