{% extends "base_email.html" %}

{% set title = title %}
{% set application_name = application_name %}
{% set application_link = application_link %}

{% block content %}
    <p>{% trans %}change_email_old_sentence{% endtrans %}:</p>
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
    <td align="left">
    <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
    <td> <a href="{{ application_link }}/account/{{ token }}" target="_blank">{% trans %}change_email{% endtrans %}</a> </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <p>{% trans %}accessing_sentence{% endtrans %} {{ application_link }}/account/{{ token }}<p>
    <p>{% trans %}validation_time_sentence{% endtrans %} {{ validity_hours }} {% trans %}hours{% endtrans %}.</p>
    <p>{% trans %}expiration_sentence{% endtrans %}.</p>
{% endblock %}