{% extends "base_email.html" %}

{% set title = title %}
{% set application_name = application_name %}
{% set application_link = application_link %}

{% block content %}
    <p>{% trans %}password_recovery_email_sentence{% endtrans %}:</p>
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
    <td align="center">
    <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
    <td> <a href="{{ application_link }}/email-change/{{ token }}" target="_blank">{% trans %}recover_password{% endtrans %}</a> </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <p>{% trans %}accessing_sentence{% endtrans %} {{ application_link }}/recover-password-change/{{ token }}<p>
    <p>{% trans %}validation_time_sentence{% endtrans %} {{ validity_hours }} {% trans %}hours{% endtrans %}.</br>
    {% trans %}expiration_sentence{% endtrans %}.</p>
    <p>{% trans %}others_sentence{% endtrans %}</p>
{% endblock %}