{% extends "base_email.html" %}

{% set title = title %}
{% set application_name = application_name %}
{% set application_link = application_link %}

{% block content %}
    <p>{% trans %}results_sentence{% endtrans %}:</p>

    {% for show in results %}
        {% if loop.index > 0 %}
            <p class="smallP"></p>
        {% endif %}

        <p class="circled result">
            {{ show.show_title }}

            {% if show.show_episode is not none %}
                {% trans %}first_letter_of_season{% endtrans %}{{ show.show_season }} {% trans %}first_letter_of_episode{% endtrans %}{{ show.show_episode }}
            {% endif %}

            {% trans %}at_date{% endtrans %} {{ show.date_time }}, {% trans %}in_channel{% endtrans %} {{ show.channel}}.
        </p>
    {% endfor %}

    <p></p>
{% endblock %}